<!DOCTYPE html>
<html>
<head>
    <title>Xóa Chuyến Đi</title>
</head>
<body>
    <h1>Xóa chuyến đi:</h1>
    <form action="/delete_chuyendi" method="post">
        <label for="maChuyenDi">Mã Chuyến Đi:</label>
        <input id="ID" type="text" name="maChuyenDi" id="maChuyenDi" required>
        <br>
        <button type="submit">Xóa Chuyến Đi</button>
    </form>
 
    <script>
        const id = localStorage.getItem('maChuyenDi')
        document.getElementById('ID').value = id
        
    </script>
</body>
</html>