<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý đặt vé</title>
    <link rel="stylesheet" type="text/css" href="../css-m/ticket.css">
</head>

<body>
    <div id="header1">
        <a href="" style="margin-top:12px;margin-left: 20px;">
            <img width="auto" height="74" src="../img-m/logo.png" alt="">
        </a>
        <div id="menu">
            <div class="item">
                <a href="">Báo cáo</a>
            </div>
            <div class="item">
                <a href="">Hệ thống</a>
            </div>
            <div class="item">
                <img id='user-img' width="auto" height="45" src="../img-m/user.png" alt="">
            </div>
            <p class="item" style="color: #004AAD; margin-left:0px;">i</p>

        </div>
    </div>
    <div style="height: 10px;"></div>
    <div id="header2">
        <div id="menu">
            <div class="item">
                <a style="color: black;
                        background-color: white;
                        padding: 2px 3px 2px 3px;
                        border-radius: 3px" href="ticket.html">Vé</a>
            </div>
            <div class="item">
                <a href="trip.html">Chuyến đi</a>
            </div>
            <div class="item">
                <a href="bus.html">Xe</a>
            </div>
            <div class="item">
                <a href="routes.html">Lộ trình</a>
            </div>
            <div class="item">
                <a href="employee.html">Nhân viên</a>
            </div>
            <div class="item">
                <a href="passenger.html">Khách hàng</a>
            </div>
            <div class="item">
                <a href="payment.html">Thanh toán</a>
            </div>
        </div>

    </div>

    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-head">
                <a href="acc_info.html">Tài khoản</a>
            </div>
            <div class="modal-head">
                <a href="http://127.0.0.1:8000">Đăng xuất</a>
            </div>
        </div>
    </div>

    <div id="main">
        <div id="h">
            <h2>Quản lý vé</h2>
            <div>
                <button id="add-btn">Tạo mới</button>
                <button style="height: 40px;
                width: 120px;
                color: white;
                background-color: #0097B2;
                border: none;
                border-radius: 8px;
                font-weight: bold;
                font-size: 16px;
                margin-left: 30px;
                cursor: pointer;" onclick="reload_page()">Reload</button>
                <script>
                    function reload_page() {
                        location.reload();
                    }
                </script>
            </div>
        </div>
        <div style="display: flex; margin: 10px auto">
            <form class="changed-info">
                <label>Giảm giá:</label>
                <input id="discount" type="number" value="0">%
                <input id="date" name="date" type="date" placeholder="Ngày">
            </form>
            <button id="discount-edit">Sửa</button>
        </div>
        <div id="table-data" class="tableFixHead">
            <table>
                <thead>
                    <tr>
                        <th>Mã vé</th>
                        <th>Số lượng</th>
                        <th>Mã chuyến đi</th>
                        <th>Mã khách hàng</th>
                        <th>Mã thanh toán</th>
                        <th>Giờ đi</th>
                        <th>Giá chuyến đi</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        {% for field in row %}
                        <td contenteditable="true">{{ field }}</td>
                        {% endfor %}
                        
                        <td><button onclick="edit('{{ row[0] }}', '{{ row[1] }}', '{{ row[2] }}', '{{ row[3] }}', '{{ row[4] }}')">Sửa</button></td>
                        <!-- <td><button onclick="deleteItem('{{ row[0] }}')">Xóa</button></td> -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        function edit(itemId, input1, input2, input3, input4) {
            localStorage.setItem('maVe', itemId)
            localStorage.setItem('soLuong', input1)
            localStorage.setItem('maChuyenDi', input2)
            localStorage.setItem('maKhachHang', input3)
            localStorage.setItem('maThanhToan', input4)
            window.open("/edit_datve/" + itemId, "_blank", "width=300,height=280,left=1200");
        }

        // function deleteItem(userId) {
        //     localStorage.setItem('maVe', userId)
        //     window.open("/delete_ve/" + userId, "_blank", "width=300,height=280,left=1200");
        // }

    </script>

    

    <div id="add-detail">
        <h2>Tạo mới vé</h2>
        <br>
        <div>
            <form id="managers-form" method="post" action="http://127.0.0.1:8000/add_datve">

                <div style="display:flex; justify-content: space-between">

                    <table border="1" cellspacing="0" cellpadding="10">
                        <tr>
                            <th>Số lượng</th>
                            <th>Mã chuyến đi</th>
                            <th>Mã khách hàng</th>
                            <th>Mã thanh toán</th>
                        </tr>

                        <tr>
                            <td><input type="number" name="soLuong"></td>
                            <td><input type="number" name="maChuyenDi"></td>
                            <td><input type="number" name="maKhachHang"></td>
                            <td><input type="number" name="maThanhToan"></td>
                        </tr>
                    </table>
                    <button type="submit" id="add-btn">Tạo mới</button>
            </form>

            <script>
                const managerForm = document.getElementById("manager-forms");

                managerForm.addEventListener("submit", function (event) {
                    event.preventDefault(); // Ngăn chặn hành vi mặc định của sự kiện submit

                    // Gửi yêu cầu POST đến "/add" bằng AJAX
                    const xhr = new XMLHttpRequest();
                    xhr.open("POST", "/add_datve");
                    xhr.onload = function () {
                        if (xhr.status === 200) {
                            // Xử lý kết quả tại đây nếu cần thiết
                            Swal.fire({
                                text: "Đã thêm thành công",
                                icon: "success",
                            }).then(() => {
                                location.reload();
                            });
                        } else {
                            console.error("Lỗi trong quá trình thực hiện");
                        }
                    };
                    xhr.send(new FormData(managerForm));
                });
            </script>
        </div>
    </div>


    <div id="footer">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js-m/ticket.js"></script>

</body>

</html>